$color-lilac: rgba(223,214,235,255);
$color-salmon: rgb(255, 171, 171);
$color-violet: rgb(217, 171, 255);
$color-salmon: rgb(255, 140, 148);
$color-blue: rgb(149,185,244);
$color-light-blue: rgb(12,183,242);
$color-cian: rgb(83,212,255);
$color-white: rgb(255,255,255);
$color-black: rgb(0, 0, 0);

//COMPONENT LISTPOST
.container-list-post {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 6%;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

//COMPONENT POST

.container-post{
    width: 500px;
    cursor: pointer;
    .post{
        max-width: 300px;
        height: 215px;
        margin: 30px 10px;
        padding: 20px 15px;
        display: grid;
        align-content: space-around;
        box-shadow: 0 5px 10px 2px $color-lilac;
        transition: 0.4s ease-in-out;
        border-radius: 5px;
        justify-content: space-between;
        img{
            height: 20px;
            width: 20px;
        }
        .title-post {
            display: flex;
            justify-content: space-between;
            .container-icon{
                display: flex;
                align-items: center;
                flex-direction: row;
            }
            .icon-edit{
                cursor: url('imgCursor/handle.png'), auto;
                width: 25px;
                height: 25px;
                padding-right: 12px
            }
            .icon-edit:hover, .icon-delete:hover{
                opacity: 0.7;
            }
            .icon-delete{
                cursor: url('imgCursor/handle.png'), auto;
                width: 30px;
                height: 30px;
            }
        }
    }
  
    .data-title{
        font-weight: 500;
        font-style: italic;
    
    }
    .data-body{
        white-space: nowrap; 
        width: 300px; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    
}
.container-card {
    .card:hover {
        height: 320px;
    }
}

//First letter upperCase

span::first-letter{
    text-transform: capitalize; 
}
p::first-letter{
    text-transform: capitalize;  
}
h2::first-letter{
    text-transform: capitalize;  
}

//Screen Detail Post

.container-screen-detail{
    display: flex;
    justify-content: center;
}

//Detail Post

.container-detail-post{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    .container-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }    
   
    .title-detail{
        width: 100vw;
        height: 60px;
        color: $color-blue;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: italic;
        font-weight: bold;
        font-family: cursive;
    }
    
    .body-detail{
        width: 80vw;
        margin-left: 10vw;
        margin-top: 20px;
        padding: 20px;
        font-size: 18px;
        font-family: monospace;
    }
    
}

//Comments In Post

.container-comments{
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Courier New', Courier, monospace;
    h2 {
        color: $color-salmon;
        
    }
    .comment {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        box-shadow: 0 5px 5px 3px $color-lilac ;
        transition: 0.4s ease-in-out;
        border-radius: 5px;
       
    }
}

.line-separator {
    height: 0.5px;
    width: 90%;
    box-shadow: 0 2px 2px 2px $color-violet
}
.navbar {
    height: 80px;
    width: 100vw;
    background-color: $color-lilac;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    img{
        height: 80px;
        background-color: white;
        border-radius: 100%;
        margin-right: 20px;
        cursor: pointer;
    }
    div, a{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .user-info {
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;

        img {
            border-radius: 100%;
            height: 30px;
            width: 30px;
            background-color: transparent;
            cursor: pointer;
            &:hover {
                background-color: white;
            }
        }
    }
}

.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .container-form-login {
        padding: 30px;
        width: 250px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        background-color: $color-cian;
        span {
            font-size: 16px;
            margin-bottom: 10px;
            color: $color-white;
        }
        input {
            height: 30px;
            border-radius: 5px;
            border: 1px solid $color-light-blue;
        }
        button {
            margin-top: 10px;
            font-size: 16px;
            height: 40px;
            border: 1px solid $color-light-blue;
            color: $color-cian;
            background-color: white;
            border-radius: 5px;

            &:hover {
                color: white;
                border: 1px solid white;
                background-color: $color-light-blue;
                cursor: pointer;
            }

            &:disabled {
                color: white;
                border: 1px solid grey;
                background-color: grey;
                cursor: auto;
            }
        }
        .login-error {
            font-size: 12px;
            color: red;
            margin-top: 10px; 
        }
    }
}

//Form Edit Post
.container-form-edit{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .form {
        margin-top: 10%;
        padding: 30px;
        width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-evenly;
        border-radius: 5px;
        border: 1px solid $color-lilac;
        box-shadow: 0 5px 10px 2px $color-lilac;

        span {
            font-size: 16px;
            margin-bottom: 10px;
            margin-top: 10px;
            color: $color-black;
        }
        input {
            height: 30px;   
            border: 0px;  
            border-bottom: 1px solid $color-lilac;
            font-size: 16px;
        }
        textarea {
            height: 300px;
            resize: vertical;
            border: 1px solid $color-lilac;
            border-radius: 2px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
        }
        .button-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            button {
                width: 40%;
                margin-top: 30px;
                font-size: 16px;
                height: 40px;
                border: 1px solid $color-lilac;
                color: $color-lilac;
                background-color: white;
                border-radius: 5px;
                font-weight: bold;
                
    
                &:hover {
                    color: white;
                    border: 1px solid white;
                    background-color: $color-lilac;
                    cursor: pointer;
                }
    
                &:disabled {
                    color: white;
                    border: 1px solid grey;
                    background-color: grey;
                    cursor: auto;
                }
            }
        }
        .edit-error {
            font-size: 12px;
            color: red;
            margin-top: 10px; 
        }
    }
}